.fontHeadFoot {
    color: whitesmoke;
    background-color: #565656;
    font-size: 18px;
}

.widthForm {
    max-width: 350px !important;
}

.react-bs-table {
    botder-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.zh-text-primary {
    color: #444444 !important;
    font-size: 12pt;
}

.nav-item {
    opacity: 0.8;
}
.nav-item:hover {
    opacity: 1;
    background-color: rgba(236, 240, 253, 0.78);
}

.styleIconSocialNetwork {
    height: 25px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.styleIconSocialNetwork:hover {
    opacity: 1;
    background-color: white;
    cursor: pointer;
}

p:hover {
    color: #61dafb;
    cursor: pointer;
}

table:hover {
    cursor: pointer;
}

table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

#baseTest td div {
    width:250px;
    height:17px;
    overflow:hidden;
}
#hint {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 1px 4px 2px;
    position: absolute;
    background: whitesmoke;
    line-height: 30px;
    margin-top: -35px;
    display: none;
}

#hint::after, #hint::before {
    position: absolute;
    background: whitesmoke;
    margin-left: 20px; margin-bottom: -5px;
    width:20px; height: 20px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(25deg);
}

#hint::before {
    z-index: 1;
}
